<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    {{!-- <link rel="icon" href="/img/weather.png"> --}}
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>headers}}
        {{!-- <p>{{helpText}}</p> --}}
        <h3>For any query or help .</h3>
    </div>
    
    {{>footer}}
</body>

</html>